body .shell-top {
    width: 100%; /* ����Ϊ100% */
    height: 100vh; /* �߶�Ϊ�ӿڸ߶ȵ�100% */
    background-image: linear-gradient(to bottom, rgb(24, 16, 61), rgb(31, 16, 25)); /* ���ñ���ͼ��Ϊ��rgb(24, 16, 61)��rgb(31, 16, 25)�����Խ��� */
    position: absolute; /* ���Զ�λ */
    transition: .2s; /* ����Ч������ʱ��Ϊ0.2�� */
    overflow: hidden; /* ���س������������� */
}

body .shell-top video {
    width: 100%; /* ����Ϊ100% */
}

body .shell-top .word {
    position: absolute; /* ���Զ�λ */
    left: 50%; /* ������������50% */
    top: 50%; /* ��������鶥��50% */
    transform: translate(-50%, -50%); /* ��Ԫ����X��Y��ֱ�ƽ��-50%��ʹ����� */
    width: 700px; /* ����Ϊ700���� */
    height: 220px; /* �߶�Ϊ220���� */
    border: solid 10px rgba(255, 255, 255, 0.199); /* ���ñ߿�Ϊ10���ؿ��İ�͸����ɫʵ�� */
    display: flex; /* ���嵯�Ժв������� */
    justify-content: center; /* �����᷽���Ͼ��ж������� */
    align-items: center; /* �ڽ����᷽���Ͼ��ж������� */
    flex-direction: column; /* ���Ժ����᷽����Ϊ���ᣨ��ֱ���� */
}

body .shell-top .word h2 {
    font: 100 70px 'font'; /* ������ʽΪ��100���ء�70���ش�С���������Ϊ 'font' */
    color: #fff; /* ������ɫΪ��ɫ */
    letter-spacing: 10px; /* ��ĸ���Ϊ10���� */
}

body .shell-top .word h3 {
    /* ������ʽΪ��100���ء�70���ش�С���������Ϊ 'font' */
    color: rgb(255, 255, 255,0.8); /* ������ɫΪ��ɫ */
    /* ��ĸ���Ϊ10���� */
}

body .shell-main {
    width: 100%; /* ����Ϊ100% */
    height: auto; /* �߶��Զ����� */
    top: 100vh; /* ��������鶥���ӿڸ߶ȵ�100% */
    position: relative; /* ��Զ�λ */
    transition: .2s; /* ����Ч������ʱ��Ϊ0.2�� */
    display: flex; /* ���嵯�Ժв������� */
    flex-direction: column; /* ���Ժ����᷽����Ϊ���ᣨ��ֱ���� */
    align-items: center; /* �ڽ����᷽���Ͼ��ж������� */
    margin-bottom: 100px; /* ����߾�Ϊ100���� */
}

body .shell-main::before {
    content: ''; /* αԪ������Ϊ�� */
    width: 250px; /* ����Ϊ250���� */
    height: 50%; /* �߶�Ϊ50% */
    background-image: linear-gradient(to bottom, #a1e6ff, #a8ffe2, #a1e6ff); /* ����ͼ��Ϊ��#a1e6ff��#a8ffe2��#a1e6ff�����Խ��� */
    position: absolute; /* ���Զ�λ */
    transform: translate(-145%, 0); /* ��X����ƽ��-145% */
    z-index: -999; /* �ѵ�˳����Ϊ-999������������������֮�� */
    bottom: 0; /* ���������ײ�0 */
}

body .shell-main::after {
    content: ''; /* αԪ������Ϊ�� */
    width: 250px; /* ����Ϊ250���� */
    height: 50%; /* �߶�Ϊ50% */
    background-image: linear-gradient(to bottom, #a1e6ff, #a8ffe2, #a1e6ff); /* ����ͼ��Ϊ��#a1e6ff��#a8ffe2��#a1e6ff�����Խ��� */
    position: absolute; /* ���Զ�λ */
    transform: translate(145%); /* ��X����ƽ��145% */
    z-index: -999; /* �ѵ�˳����Ϊ-999������������������֮�� */
}

body .shell-main-nav {
    width: 100%; /* ����Ϊ100% */
    height: 60px; /* �߶�Ϊ60���� */
    position: sticky; /* ճ�Զ�λ */
    z-index: 999; /* �ѵ�˳����Ϊ999 */
    top: 0; /* ��������鶥��0 */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* ��ӰЧ�� */
    margin-bottom: 18vh; /* ����߾�Ϊ�ӿڸ߶ȵ�18% */
    background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.6)); /* ����ͼ��Ϊ�����½Ƿ�������Խ��䣬��ɫ��rgba(255, 255, 255, 0.8)��rgba(255, 255, 255, 0.7)��rgba(255, 255, 255, 0.6) */
    backdrop-filter: blur(13px); /* ���ñ��������ģ��Ч����ģ���뾶Ϊ13���� */
}

body .shell-main-nav .logo {
    width: 220px; /* ����Ϊ220���� */
    height: 100%; /* �߶�Ϊ100% */
    position: absolute; /* ���Զ�λ */
    left: 5%; /* ������������5% */
    display: flex; /* ���嵯�Ժв������� */
    justify-content: space-between; /* �����᷽���Ͼ��ȷ���ռ� */
    align-items: center; /* �ڽ����᷽���Ͼ��ж������� */
}

body .shell-main-nav .logo img {
    width: 45px; /* ����Ϊ45���� */
    height: 45px; /* �߶�Ϊ45���� */
    border-radius: 50%; /* ���ñ߿�Բ�ǰ뾶Ϊ50%��ʹ���Ϊһ��Բ�� */
}

body .shell-main-nav .logo span {
    font: 100 22px 'font'; /* ������ʽΪ��100���ء�22���ش�С���������Ϊ 'font' */
    letter-spacing: 2px; /* ��ĸ���Ϊ2���� */
}

body .shell-main-nav ul {
width: 600px; /* ����Ϊ600���� */
height: 100%; /* �߶�Ϊ100% */
display: flex; /* ���嵯�Ժв������� */
justify-content: space-evenly; /* �����᷽���Ͼ��ȷֲ�����Ԫ�� */
align-items: center; /* �ڽ����᷽���Ͼ��ж������� */
position: absolute; /* ���Զ�λ */
right: 5%; /* ����������Ҳ�5% */
}

body .shell-main-nav ul .nav-box {
    position: absolute; /* ���Զ�λ */
    bottom: 1px; /* ����ײ�1���� */
    left: 0; /* �������0 */
    width: 115px; /* ����Ϊ115���� */
    height: 5px; /* �߶�Ϊ5���� */
    border-radius: 2px; /* ���ñ߿�Բ�ǰ뾶Ϊ2���� */
    z-index: -999; /* �ѵ�˳����Ϊ-999������������������֮�� */
    transition: .5s; /* ����Ч������ʱ��Ϊ0.5�� */
}

body .shell-main-nav ul li {
    width: 150px; /* ����Ϊ150���� */
    text-align: center; /* �ı����ж��� */
}

body .shell-main-nav ul li a {
    color: #000; /* ������ɫΪ��ɫ */
    display: block; /* ����Ϊ�鼶Ԫ�� */
    width: 100%; /* ����Ϊ100% */
    height: 100%; /* �߶�Ϊ100% */
    line-height: 60px; /* �и�Ϊ60���� */
    text-align: center; /* �ı����ж��� */
    transition: color 0.3s ease; /* ������ɫ�Ĺ���Ч��������ʱ��Ϊ0.3�룬ƽ������ */
}

    body .shell-main-nav ul li a:hover {
        color: #48afa5; /* �����ͣʱ������ɫ��Ϊ#48afa5 */
    }

body .shell-main-nav ul li:nth-child(2):hover ~ .nav-box {
    left: 120px; /* �����ͣ�ڵڶ����б���ʱ��nav-box�����ƶ�120���� */
    background-color: red; /* ������ɫ��Ϊ��ɫ */
}

body .shell-main-nav ul li:nth-child(3):hover ~ .nav-box {
    left: 240px; /* �����ͣ�ڵ������б���ʱ��nav-box�����ƶ�240���� */
    background-color: #8da1f8; /* ������ɫ��Ϊ#8da1f8 */
}

body .shell-main-nav ul li:nth-child(4):hover ~ .nav-box {
    left: 360px; /* �����ͣ�ڵ��ĸ��б���ʱ��nav-box�����ƶ�360���� */
    background-color: #ffb1b1; /* ������ɫ��Ϊ#ffb1b1 */
}

body .shell-main-nav ul li:nth-child(5):hover ~ .nav-box {
    left: 480px; /* �����ͣ�ڵ�����б���ʱ��nav-box�����ƶ�480���� */
    background-color: #7df88e; /* ������ɫ��Ϊ#7df88e */
}


body .shell-main-lbt {
    position: relative; /* ��Զ�λ */
    width: 100%; /* ����Ϊ100% */
    display: flex; /* ���嵯�Ժв������� */
    justify-content: center; /* �����᷽���Ͼ��ж������� */
    align-items: center; /* �ڽ����᷽���Ͼ��ж������� */
    height: 650px; /* �߶�Ϊ650���� */
    background-color: #978989; /* ������ɫΪ#978989 */
    margin-bottom: 150px; /* ����߾�Ϊ150���� */
    overflow: hidden; /* ���س������������� */
    background-image: url("../image/lbt.gif"); /* ����ͼ��·��Ϊ"../image/lbt.gif" */
    background-color: #fff; /* С֩�뱳����������ɫΪ��ɫ */
    background-repeat: no-repeat; /* ����ͼ���ظ� */
    background-size: contain; /* ����ͼ��ԭʼ��С��ʾ */
    background-position: 50%; /* ����ͼ����ж��� */
}


body .shell-main-lbt .images {
  width: 300%;
  height: 100%;
  display: flex;
  align-items: center;
  position: absolute;
  left: 0;
  transition: .2s;
}

body .shell-main-lbt .images .img {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

body .shell-main-lbt .images .img .shell-main-lbt-word {
  width: 600px;
  overflow-x: hidden;
  height: 200px;
  background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.1));
  backdrop-filter: blur(0px);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  transform: translateY(400px);
  transition: .5s;
}

body .shell-main-lbt .images .img .shell-main-lbt-word h2 {
  font: 400 32px 'font';
  transition: .6s;
  transition-delay: .4s;
  transform: translate(520px);
}

body .shell-main-lbt .images .img .shell-main-lbt-word span {
  color: #3a3a3a;
  transition: .6s;
  transition-delay: .4s;
  transform: translate(-620px);
}

body .shell-main-lbt .min-images {
  display: flex;
  justify-content: space-evenly;
  position: absolute;
  bottom: 20px;
  width: 40%;
  z-index: 999;
  right: 10%;
}

body .shell-main-lbt .button {
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: space-between;
  user-select: none;
}

    body .shell-main-lbt .button .button-left,
    body .shell-main-lbt .button .button-right {
        font-size: 50px;
        /*background-color: rgba(160, 193, 255, 0.7);*/
        background-color: rgba(160, 193, 255, 0);
        padding: 0 20px;
        cursor: pointer;
        line-height: 500px;
    }

body .shell-main-header {
  width: 90%;
  height: 700px;
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
  overflow: hidden;
  align-items: center;
  position: relative;
  margin-bottom: 150px;
}

body .shell-main-header-left {
    width: 60%; /* ����Ϊ60% */
    height: 90%; /* �߶�Ϊ90% */
    display: flex; /* ���嵯�Ժв������� */
    justify-content: center; /* �����᷽���Ͼ��ж������� */
    align-items: center; /* �ڽ����᷽���Ͼ��ж������� */
    flex-direction: column; /* ���Ժ����᷽����Ϊ���ᣨ��ֱ���� */
    box-shadow: 0 0 15px rgba(95, 95, 95, 0.5); /* ��ӰЧ�� */
    background-color: white; /* ������ɫΪ��ɫ */
    overflow: hidden; /* ���س������������� */
}

body .shell-main-header-left::after {
    content: ''; /* αԪ������Ϊ�� */
    width: 200px; /* ����Ϊ200���� */
    height: 15px; /* �߶�Ϊ15���� */
    background-color: #8ddff8; /* ������ɫΪ#8ddff8 */
    opacity: 0.8; /* ͸����Ϊ0.8 */
    position: absolute; /* ���Զ�λ */
    top: 0; /* ���붥��0 */
    left: 0; /* �������0 */
}

body .shell-main-header-left::before {
    content: ''; /* αԪ������Ϊ�� */
    width: 250px; /* ����Ϊ250���� */
    height: 250px; /* �߶�Ϊ250���� */
    border: 20px solid rgba(0, 255, 255, 0.3); /* �߿�Ϊ20���ؿ��İ�͸����ɫʵ�� */
    position: absolute; /* ���Զ�λ */
    bottom: -30px; /* ����ײ�-30���� */
    left: -140px; /* �������-140���� */
    border-radius: 10px; /* �߿�Բ�ǰ뾶Ϊ10���� */
    transform: rotate(30deg); /* ��Ԫ����ת30�� */
    animation: transform 4s infinite; /* Ӧ����Ϊtransform�Ķ���������ʱ��Ϊ4�룬ѭ�����޴� */
}


@keyframes transform {
  0% {
    transform: rotate(30deg) translate(0);
  }

  50% {
    transform: rotate(40deg) translate(10px);
  }

  100% {
    transform: rotate(30deg) translate(0px);
  }
}

body .shell-main-header-left-footer {
    position: relative; /* ������Զ�λ */
    width: 80%; /* ����Ϊ��Ԫ�ص�80% */
    margin-top: 0px; /* ����߾�Ϊ40���� */
    transform: translateY(0px); /* �ڴ�ֱ����ƽ��400���� */
    opacity: 100; /* ͸����Ϊ0����ȫ͸���� */
    transition: .9s; /* ����Ч���ĳ���ʱ��Ϊ0.9�� */
    transition-delay: .3s; /* ����Ч�����ӳ�ʱ��Ϊ0.3�� */
}

body .shell-main-header-left-footer p {
    position: absolute; /* ���þ��Զ�λ */
    display: block; /* ����Ϊ�鼶Ԫ�� */
    right: 0; /* ��Ԫ�ض�λ��������飨��Ԫ�أ����Ҳ� */
}


body .shell-main-header-left-top {
    display: flex; /* ��Ԫ����Ϊ���Ժ����� */
    position: relative; /* ������Զ�λ */
    width: 85%; /* ����Ϊ��Ԫ�ص�85% */
    transform: translateY(0px); /* �ڴ�ֱ����ƽ��400���� */
    opacity: 100; /* ͸����Ϊ100����ȫ��͸���� */
    transition: .8s; /* ����Ч���ĳ���ʱ��Ϊ0.8�� */
}

body .shell-main-header-left-top h2 {
    font-size: 100px; /* �����С��Ϊ100���� */
    transform: translateY(-20px); /* �ڴ�ֱ����������ƽ��20���� */
}

body .shell-main-header-left-top span {
    -webkit-text-fill-color: #000; /* �����������ɫΪ��͸����ɫ */
    -webkit-text-stroke-color: #ff8a9f; /* �������������ɫΪ#3aaf88 */
    -webkit-text-stroke-width: 1px; /* ����������߿���Ϊ1���� */
    margin-left: 20px; /* ����߾�Ϊ20���� */
    font: 600 40px ''; /* ��������Ϊ600���ء�40���ش�С���޳����� */
}

body .shell-main-header-left-bottom {
    width: 85%; /* ����Ϊ��Ԫ�ص�85% */
    height: auto; /* �߶��Զ����� */
    /*transform: translateY(300px); */ /* �ڴ�ֱ����ƽ��400���� */
    transition: .8s; /* ����Ч���ĳ���ʱ��Ϊ0.8�� */
    transition-delay: .2s; /* ����Ч�����ӳ�ʱ��Ϊ0.2�� */
    font-size: 20px; /* �����С��Ϊ20���� */
}
body .shell-main-header-left-bottom h2{
    color:black;
    font-size:10px;
}

body .shell-main-header-right {
    width: 40%; /* ����Ϊ��Ԫ�ص�40% */
    height: 95%; /* �߶�Ϊ��Ԫ�ص�95% */
    background-size: cover; /* ����ͼ���С��������ȫ����Ԫ�� */
    background-image: url("../image/zuan04.jpg"); /* ����ͼ������Ϊ../image/top.png */
    border: 5px solid #000; /* �߿�����Ϊ5���ؿ��ĺ�ɫʵ�� */
}


body .shell-main-content {
  display: flex;
  justify-content: center;
  width: 100%;
  height: auto;
  padding: 20px 0;
  margin-bottom: 100px;

  overflow: hidden;
}

body .shell-main-content-left {
  width: 60%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #252525;
  display: flex;
  justify-content: space-between;
  padding: 0 50px;
  position: relative;
  flex-wrap: wrap;
  align-items: center;
}

body .shell-main-content-left::before {
  content: '';
  width: 200px;
  height: 20px;
  background-color: #2e2e2e;
  position: absolute;
  bottom: -30px;
  right: 0;
}

body .shell-main-content-left h2 {
  font-size: 40px;
  color: #fff;
  letter-spacing: 10px;
}

body .shell-main-content-left-fans {
  width: 300px;
  height: 300px;
  transform: scale(0.7);
}

body .shell-main-content-left-fans ul {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

body .shell-main-content-left-fans ul li {
  width: 80px;
  height: 80px;
  background-color: #000;
  border-radius: 50%;
  overflow: hidden;
}

body .shell-main-content-left-fans ul li:hover img {
  transform: scale(1.2);
}

body .shell-main-content-left-fans ul li img {
  width: 100%;
  transition: .2s;
}

body .shell-main-content-left-fans ul li span {
  color: #fff;
  font-size: 40px;
  text-align: center;
  display: block;
  line-height: 80px;
}

body .shell-main-content-right {
  width: 300px;
  height: 100%;
  padding: 0 60px;
}

body .shell-main-content-right h2 {
  font-size: 40px;
}

body .shell-main-content-right span {
  display: block;
  margin: 20px 0;
}

body .shell-main-content-right img {
  width: 100%;
}

body .shell-main-bottom {
    display: flex; /* ��Ԫ����Ϊ���Ժ����� */
    justify-content: center; /* �����᷽���Ͼ��ж������� */
    width: 100%; /* ����Ϊ100% */
    height: 510px; /* �߶�Ϊ510���� */
    flex-direction: column; /* ���Ժе����᷽��Ϊ���ᣨ��ֱ���� */
    margin: 200px; /* ��߾�Ϊ200���� */
}

body .shell-main-bottom h2 {
  font: 100 34px 'font';
  color: #48afa5;
  letter-spacing: 5px;
  margin-left: 100px;
}

body .shell-main-bottom h2 span {
  font-size: 80px;
  font-weight:100px;
  font-style:normal;
  color: turquoise;
}

body .shell-main-bottom-bottom {
    width: 100%; /* ����Ϊ100% */
    height: auto; /* �߶��Զ����� */
    padding: 20px 0 100px 0; /* ���ڱ߾�Ϊ20���أ����ڱ߾�Ϊ100���أ�������ڱ߾�Ϊ0 */
    background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.6)); /* ���ñ���Ϊ�����½Ƿ�������Խ��䣬��ɫ��rgba(255, 255, 255, 0.9)���䵽rgba(255, 255, 255, 0.7)�ٵ�rgba(255, 255, 255, 0.6) */
    backdrop-filter: blur(30px); /* ���ñ��������ģ��Ч����ģ���뾶Ϊ30���� */
    position: relative; /* ������Զ�λ */
}


body .shell-main-bottom-bottom::before {
    content: ''; /* αԪ������Ϊ�� */
    width: 250px; /* ����Ϊ250���� */
    height: 250px; /* �߶�Ϊ250���� */
    border: 20px solid rgba(0, 255, 255, 0.3); /* ���ñ߿�Ϊ20���ؿ��İ�͸����ɫʵ�� */
    position: absolute; /* ���þ��Զ�λ */
    border-radius: 10px; /* �߿�Բ�ǰ뾶Ϊ10���� */
    right: 70px; /* ��Ԫ�ض�λ������������飨��Ԫ�أ��Ҳ�70���� */
    top: 100px; /* ��Ԫ�ض�λ������������飨��Ԫ�أ�����100���� */
    transform: rotate(30deg) translate(-50%, -50%); /* ��Ԫ������ת30�ȣ�����X��Y��ֱ�ƽ��-50% */
    animation: transform 4s infinite; /* Ӧ����Ϊtransform�Ķ���������ʱ��Ϊ4�룬ѭ�����޴� */
    opacity: 0.8; /* ͸����Ϊ0.8 */
    z-index: -999; /* ����Ԫ�صĶѵ�˳��Ϊ-999��ʹ�䴦�������������ݵĺ��� */
}


@keyframes transform {
  0% {
    transform: rotate(30deg);
  }

  50% {
    transform: rotate(40deg);
  }

  100% {
    transform: rotate(30deg);
  }
}

body .shell-main-bottom-bottom ul {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  margin-top: 40px;
  flex-wrap: wrap;
}

body .shell-main-bottom-bottom ul li {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 12px solid rgba(0, 0, 0, 0.2);
  display: flex;
  padding: 10px;
  flex-direction: column;
  transition: .3s;
  margin-bottom: 100px;
}

body .shell-main-bottom-bottom ul li span {
    font-style: normal;
    font-size: 13px;
    color: #525252;
}

body .shell-main-bottom-bottom ul li:hover {
  padding: 10px;
  margin: 8px;
}

body .shell-main-bottom-bottom ul li:hover h2 {
  letter-spacing: 3px;
}

body .shell-main-bottom-bottom ul li img {
  width: 100%;
  border-radius: 50%;
}

body .shell-main-bottom-bottom ul li h2 {
  margin: 30px 0 10px 0;
  font-size: 24px;
  transition: .3s;
  color: black;
  text-align: center;
  letter-spacing: 0;
}



body .shell-main-image {
  width: 100%;
  display: flex;
  height: 900px;
  margin: 10px 0;
  position: relative;
  justify-content: center;
  align-items: center;
}

body .shell-main-image h2 {
  font-size: 30px;
  color: turquoise;
}

body .shell-main-image span {
  font-size: 20px;
}

body .shell-main-image p {
  font-size: 30px;
  writing-mode: lr-tb;
  font-size: 17px;
}

body .shell-main-image-left {
  position: absolute;
  left: 100px;
  top: 200px;
  width: 320px;
}

body .shell-main-image-right {
  position: absolute;
  right: 5px;
  top: 675px;
  width: 600px;
}

body .shell-main-image-auto {
  position: absolute;
  top: 420px;
  left: 190px;
  width: 10px;
}

body .shell-main-image-img {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

body .shell-main-image-img img {
  position: absolute;
  transition: opacity 0.3s ease;
}

body .shell-main-image-img img:nth-child(1) {
  width: 350px;
  height: 470px;
  transform: translate(-170px, 200px);
  z-index: 9;
}

body .shell-main-image-img img:nth-child(2) {
  width: 400px;
  height: 400px;
  z-index: 8;
  transform: translate(0px, -100px);
}

body .shell-main-image-img img:nth-child(3) {
  width: 600px;
  z-index: 7;
  height: 400px;
  right: 0;
}

body .shell-main-image-img img.loading {
  opacity: 0.5;
}

@media (max-width:768px) {
  body .shell-main::after {
    transform: translate(0);
  }

  body .shell-main::before {
    transform: translate(0);
  }

  .shell-top {
    display: flex;
  }

  body .shell-main-nav ul {
    transform: scale(.7);
    right: -60px;
    top: 2px;
  }

  body .shell-main-lbt .button {
    height: 200px;
  }

  body .shell-main-lbt .button .button-left,
  body .shell-main-lbt .button .button-right {
    line-height: 200px;
  }

  body .shell-main-header {
    flex-wrap: wrap;
    height: 1400px;
  }

  body .shell-main-header-left {
    height: 70%;
    width: 100%;
  }

  body .shell-main-header-right {
    width: 100%;
    height: 30%;
  }

  body .shell-main-content {
    flex-wrap: wrap;
  }

  body .shell-main-content-left {
    width: 100%;
    margin-bottom: 30px;
    justify-content: center;
  }

  body .shell-main-content-right {
    width: 100%;
  }

  body .shell-main-bottom {
    /* overflow:visible;     */
    margin: 200px;
  }

  body .shell-main-bottom-bottom ul li {
    width: 250px;
    height: 250px;
  }

  body .shell-main-image-img {
    transform: scale(.9);
  }

  body .shell-main-image-img img:nth-child(3) {
    width: 400px;
    height: 300px;
    transform: translateY(100px);
  }

  body .shell-main-image-left {
    transform: scale(.4);
    left: 0;
  }

  body .shell-main-image-right,
  body .shell-main-image-left,
  body .shell-main-image-auto {
    display: none;
  }
}

@media (max-width:600px) {
  body .shell-main-bottom {
    margin: 600px 0;
  }

  body .shell-main-header {
    height: 1200px;
  }

  body .shell-main-content-left h2 {
    font-size: 30px;
  }

  body .shell-main-image-img {
    transform: scale(.5);
  }

  body .shell-main-image-img img:nth-child(3) {
    transform: translate(180px, 200px);
  }

  body .shell-main-nav .logo {
    display: none;
  }

  body .shell-main-nav ul {
    transform: scale(.6);
    right: -130px;
  }

  body .shell-top .word {
    width: 80%;
    height: 100px;
  }

  body .shell-top .word h2 {
    font-size: 30px;
  }

  body .shell-main-lbt .button .button-left,
  body .shell-main-lbt .button .button-right {
    width: 10px;
    font-size: 20px;
    opacity: .2;
  }
  body .shell-main-image{
    height: 500px;
  }
  body .shell-main-lbt{
    /* height: 300px; */
  }
}

@media (min-width:1300px) {
  body .shell-main-bottom {
    margin: 0;
  }
}

@media (max-width: 1024px) {
    body .shell-main-bottom ul li {
        width: calc(50% - 20px);
    }
}

@media (max-width: 480px) {
    body .shell-top .word {
        width: 90%;
        padding: 10px;
    }
    
    body .shell-top .word h2 {
        font-size: 40px;
    }
}

/* Add smooth scrolling */
html {
    scroll-behavior: smooth;
}

/* Add About me*/
body {
    font-family: Arial, sans-serif;
}

.icons-container {
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding: 0;
}

.icons-container li {
    margin: 0 60px;
    position: relative;
}

.icons-container a {
    display: block;
    text-align: center;
}

.icons-container img {
    width: 60px;
    height: 60px;
}

.icons-container p {
    margin: 20px 0 0;
    display: none;
}

.icons-container li:hover p {
    display: block;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -25px;
    background: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 5px;
    border-radius: 5px;
    white-space: nowrap;
}
